<div class="page-width">
  43543535
</div>
{% schema %}
  {
    "name": "image-get-links",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "get_image_v_1",
        "label": "Get Image V1"
      }

    ],
    "presets": [
      {
        "name": "image-get-links"
      }
    ]
  }
{% endschema %}