.accordeon {
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid #f1f1f1;
}
.accordeon__list {
  list-style-type: none;
}
.accordeon__item {
  display: block;
}

.accordeon__heading {
  background-color: #f1f1f1;
}
.accordeon__link {
  display: block;
  padding: 10px 15px;
  color: #000;
  text-decoration: none;
  font-weight: 700;
}
.accordeon__content {
  display: none;
  padding: 10px 15px;
}

.accordeon__item.active .accordeon__heading {
  background-color: #616161;
}
.accordeon__item.active .accordeon__link {
  color: #fff;
}
.accordeon__item.active .accordeon__content {
  display: block;
}
