.accordeon {
  max-width: 800px;
  margin: 0 auto;
}
.accordeon__list {
  list-style-type: none;
  padding: 0;
}
.accordeon__item {
  display: block;
}

.accordeon__heading {
  cursor: pointer;
}
.accordeon__link {
  display: block;
  padding: 10px 0px;
  color: #000;
  text-decoration: none;
  font-weight: 700;
}
.accordeon__content {
  display: none;
  padding: 10px 15px;
  transition: 3s all ease-in-out;
}

.accordeon__item.active .accordeon__heading {
}
.accordeon__item.active .accordeon__link {
}
.accordeon__item.active .accordeon__content {
  display: block;
}
